<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Ghetto Life Muzik</title>
    <link rel="shorcut icon" href="../Imagenes/GLM.png">
    <link href="../styles/estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap" rel="stylesheet"> 
    <meta name="description" content="Productos a ofrecer en Ghetto Life Muzik en Santiago de Chile, Cerro Navia.
    Grabaciones,Mezclas, Master,Instrumentales en sus producciones.">
</head>
<body>
    <header class="header">
    <nav class="header__menu">
        <div class="logo__mobile"> 
            <a href="../index.html" ><img id="logo-inicio" src="../Imagenes/GLM.png" alt="Logo Ghetto Life Muzik" width="80px"></a> 
        </div>
        
        <ul class="menu__nav">
            <li><a class=links__cambio href="productos.html">Productos</a></li>
            <li><a class=links__cambio href="nosotros.html">Nosotros</a></li>
            <li><a class=links__cambio href="contacto.html">Contacto</a></li>
        </ul> 
        </div>
        <div class=menu__carrito>
            <a  href="carrito.html"><img src="../Imagenes/Carrito.png" alt="imagen carrito" width="40px"></a>
        </div>
    </nav>
    </header>
    <main class="main__productos">
      <h1 class="main__productos__titulo">Productos</h1>
      <section class="main__listaproductos">
        <div id=”contenedor”>
          <p class=”texto”></p>
        </div>
      </section>
      <section class="productos1">
        <div class="productos1__items">
          <div class="productos1__items__texto">
            <h2><strong>Grabaciones</strong></h2>
            <p><strong>Instrumentos, voces o proyectos acústicos</strong>. Nos encargamos de generar una buena grabación dando consejos y técnicas para un mejor desarrollo del trabajo. 
            No olvidar que un buen trabajo de audio parte siempre por una buena grabación y nos encargamos de que asi sea.</p>
          </div>
          <div class="productos1__items__foto">
            <img src="../Imagenes/Microfono.jpg" width="300px" alt="Imagen de un microfono"> 
          </div>
          <div class="productos1__items__foto2">
            <img src="../Imagenes/Microfono.jpg" width="500px" alt="Imagen de un microfono"> 
          </div>
          <div class="productos1__items__foto3">
            <img src="../Imagenes/Microfono.jpg" width="600px" alt="Imagen de un microfono"> 
          </div>
        </div>
        <div class="productos1__items row-reverse">
          <div class="productos1__items__texto">
            <h2><strong>Beatmaking</strong></h2>
            <p><strong>Trabajo dedicado a crear instrumentales</strong> , blackmusic generalmente trabajando los mas demandados por la comunidad de artistas que trabajan con nosotros. Podemos 
            generar instrumentales desde cero , con composiciónes únicas como tambien partir desde tu composicion etc.</p>
          </div>
          <div class="productos1__items__foto">
            <img src="../Imagenes/Piano fondo1.jpg"  width="300px" alt="Imagen piano">
          </div>
          <div class="productos1__items__foto2">
            <img src="../Imagenes/Piano fondo1.jpg"  width="500px" alt="Imagen piano">
          </div>
          <div class="productos1__items__foto3 flex-start">
            <img src="../Imagenes/Piano fondo1.jpg"  width="600px" alt="Imagen piano">
          </div>
        </div>
        <div class="productos1__items">
          <div class="productos1__items__texto">
            <h2><strong>Mezcla y Master</strong></h2>
            <p><strong>Trabajo dedicado a potenciar la emoción principal de tu proyecto y el sonido de este</strong> .Mezclamos los sonidos idientificando cuales son los elementos principales 
            y como actua la presencia de estos en tu track, para luego pasar a trabajar en el track general , masterizarlo para dejarlo listo para su distribuicion y reproducción. 
            Estos procesos son las dos últimas etapas en el trabajo del audio.</p>
          </div>
          <div class="productos1__items__foto">
            <img src="../Imagenes/Apollo twin.jpg"  width="300px" alt="Imagen interfaz">  
          </div>
          <div class="productos1__items__foto2">
            <img src="../Imagenes/Apollo twin.jpg"  width="500px" alt="Imagen interfaz">  
          </div>
          <div class="productos1__items__foto3">
            <img src="../Imagenes/Apollo twin.jpg"  width="600px" alt="Imagen interfaz">  
          </div>
        </div>
      </section>
      <section class="productos__aviso">
        <div class="separador"></div>
        <div class="productos__aviso__texto"> 
          <h2>Visita nuestro catálogo <a class="text-decoration-none  link" href="#catalogo">AQUI!</a></h2>
          <h3 class="text-light">o solicita una cotización <a class="text-decoration-none  link" href="https://wa.me/56954762733">Whatsapp</a></h3>
        </div>
        <div class="separador"></div>
      </section>
  
      <section id="catalogo" class="catalogo">
        <div class="separador"></div>
        <h2>Catalogo</h2>
        <div id="catalogo__lista"></div>
      </section>
    </main>
    <footer class="footer ">
        <div class="separador"></div>
        <h5 class="footer__titulo">Redes Sociales y Links</h5>
        <div class="footer__links">
            <a href="contacto.html">Contacto</a>
            <a href="https://www.instagram.com/ghettolifemuzik/">Instagram</a>
            <a href="https://wa.me/56954762733">Whatsapp</a>
            <a href="https://www.youtube.com/@GhettoLifeMuzik">Youtube</a>
        </div>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>